/* stylesheet.css */

div#wrapper {
    width: 1260px;
    max-height: 5000px;
    background: #BDBDBD;
}

/* header */
header {
    width: 1250px;
    height: 80px;
    border: 1px solid purple;
    margin-bottom: 20px;
    background-color: #9E9E9E;
    border-radius: 15px;
}

h1 {
    text-align: center;
}

/* contents */
section.contents {
    width: 100%;
    min-height: 500px;
    background-color: #E0E0E0;
}

/* container */
section.container {
    min-height: 500px;
    background-color: #BDBDBD;
}


/* figure */
figure {
    width: 38%;
    margin: 0px 0px 15px 95px;
    padding: 0px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid black;
}

figcaption {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}


/* images */
img {
    width: 100%;
}

img#px1 {
    transition: width 2s, height 2s, transform 2s;
}

img#px1:active {
    
    width: 300%;
    height: 300%;
    transform: rotate(180deg);
}

img#px2 {
    transition: width 2s, height 2s linear 2s;
}

img#px2:hover {
    width: 300%;
    height: 300%;
}

img#px3 {
    width: 100%;
    height: 100%;
}

img#px3:hover {
    transform: scale(2, 3);
    transition-property: all;
    transition-duration: 2s;
}

img#px4 {
    width: 100%;
    height: 100%;
    animation:spins 2s linear infinite;
}
@keyframes spins { 100% { -webkit-transform: rotateY(360deg); transform:rotateY(360deg); } }



/* footer */

footer {
    width: 100%;
    height: 80px;
    border-radius: 15px;
    background-color: gray;
    border: 1px solid red;
}

div.ftr {
    display: inline-block;
    vertical-align: top;
}

h2 {
    text-align: center;
    padding-top: 8px;
    vertical-align: top;
    display: inline-block;
    padding-left: 309px;
}

img#px5 {
    width: 55px;
    border-radius: 50%;
    vertical-align: top;

    transition: width 5s, height 5s, transform 5s ease-in-out;
}

img#px5:hover {
    width: 55px;
    height: 55px;
    transform:  translate(1180px, 0px) scale(2,2) rotate(1440deg) ;
}



section.contents {}

section.container {}