/* css/mystylesheet.css */


form.form {
    width: 50%;
    padding-top: 50px;
}

input#first-name {
    width: 100%;
}


.form-group {
    width: 100%;
}

input#first-name {
	color: red;
}

input#last-name {
	color: green;
}

input#email {
	color: purple;
}

label {
    font-size: 2em;
}

input[type="text"]:focus {
	height: 150px;

}

.jumbotron.text-center {
    background-image: url("../images/2016Nov_SAM.jpg");
    
    height: 410px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.jumbotron.text-center#j1{
 background-image: url("..");
    color: black;
    height: auto;
}

.jumbotron.text-center#j2 {
    background-image: url("../images/pretty-woman-1509959__340.jpg");
    color: brown;


}

.jumbotron.text-center#j3{
    background-image: url("../images/520007784.jpg");
    color: red;

    
}